{% extends "blog/base.html" %}
{% block content %}

    {% for i in problems %}
    
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ i.Name }}</a>
          <small class="text-muted">{{ i.date_posted }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ i.Code }}</a></h2>
        <p class="article-content">{{ i.Statement }}</p>
      </div>
    </article>

    {% endfor %}

    <h1> ProblemSet Page !</h1>

{% endblock content %}
  
     
     
   